{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Bienvenue sur la gestion des chatons en BDD</h1>
    </div>

{% endblock %}
