{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier la catégorie <i>{{ categorie.titre }}</i></h1>
        {{ form(formulaire) }}
    </div>
{% endblock %}

