{% extends 'base.html.twig' %}

{% block title %}Supprimer la catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Êtes-vous sûr de vouloir supprimer la catégorie <i>{{ categorie.titre }}</i></h1>
        {{ form(formulaire) }}
        <a href="{{ path("app_home") }}" class="btn btn-secondary">Annuler</a>
    </div>
{% endblock %}
