{% extends 'base.html.twig' %}

{% block title %}Supprimer la catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Êtes-vous sûr de vouloir supprimer le chaton <i>{{ chaton.nom }}</i></h1>
        {{ form(formulaire) }}
        <a href="{{ path("categorie_chaton", {"id":chaton.categorie.id})}}" class="btn btn-secondary">Annuler</a>
    </div>
{% endblock %}
